<div *ngIf="post" class="post-page-container">
    <!-- Post Image Container -->
    <div class="post-image-container">
      <img [src]="post.photo" alt="Post Image">
    </div>
  
    <!-- <div class="info"> -->
    <!-- Comments Container -->
    <div class="comments-container info">
      <h2>{{ post.title }}</h2>
      <p>
      <i
              (click)="like(post._id)"
              [id]="'like-icon-' + post._id"
              class="fa-solid fa-heart like-icon"
        ></i>
       {{ post.likes }}</p>
      <p>Posted by: {{ post.username }} </p>
      <p> {{post.createdAt | date}}</p>


  
      <h3 style="font-size: medium;">Comments:</h3>
      <div class="comments-list">
        <ul>
          <li *ngFor="let comment of post.comments">
            <p><strong style="cursor: pointer;" (click)="getUserProfile(comment.user)">{{ comment.author }}</strong>: {{ comment.text }}</p>
            <small>Posted on: {{ comment.createdAt | date }}</small>
          </li>
        </ul>
      </div>

      <h2>Add a comment</h2>
      <form>
      <input type="text" name="comment" [(ngModel)]="comment" placeholder="comment">
      <button (click)="sendComment()" >Comment</button>
        </form>

    </div>
  </div>
<!-- </div> -->
  