

<div class="main-register-page">

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3>Register</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label" >Name</label>
          <input [(ngModel)]= "name" type="text" name="name" [ngModelOptions]="{standalone: true}"  class="form-control" id="name" placeholder="Enter Name" >
        </div>
        <div class="mb-3">
          <label for="username" class="form-label" >Username</label>
          <input type="text" [(ngModel)]= "username" name="usermame"  [ngModelOptions]="{standalone: true}" class="form-control" id="username" placeholder="Enter username" >
        </div>
        <div class="mb-3">
          <label for="email" class="form-label" >Email address</label>
          <input type="email" [(ngModel)] ="email" name="email" [ngModelOptions]="{standalone: true}" class="form-control" id="email" placeholder="Enter email" >
        </div>
        <div class="mb-3">
          <label for="password"  class="form-label">Password</label>
          <input name="password" [(ngModel)] = "password" type="password" class="form-control" [ngModelOptions]="{standalone: true}" id="password" placeholder="Enter password">
        </div>
        <div class="mb-3">
          <label for="avatar" class="form-label">Profile Pic</label>
          <input type="file" class="form-control" id="avatar" (change)="onAvatarSelected($event)">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
    </div>
  </div>
</div>


</div>

