/* Set container height to 100% of the viewport height */
.main-post-page {
    background-image: url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust background color opacity */
  }
  
  .create-post-container {
    max-width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust container background color opacity */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .create-post-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  input[type="file"]:hover,
  input[type="file"]:focus {
    border-color: #4CAF50;
  }
  
  .create-post-container:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  