<div id="home-page" class="container-fluid">
    <div id="home-page-landing" class="row">
        <div id="landing-left" class="col-md-6 d-flex justify-content-center align-items-center text-white">
            <div id="landing-left-content" class="text-left p-4">
                <h1 class="display-1">Cracki</h1>
                <p class="lead">Share your favorite stories!</p>
                <button (click)="login()" class="btn btn-primary btn-lg">Get Started</button>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Placeholder for other content -->
        </div>
    </div>
</div>
